FLASK_ENV=development
SECRET_KEY=cambia_esto_por_una_clave_secreta_segura
JWT_SECRET_KEY=cambia_esto_por_otra_clave_jwt_segura

# SQL Server
DB_SERVER=localhost
DB_NAME=inmobiliaria_db
DB_USER=sa
DB_PASSWORD=tu_password_aqui
DB_DRIVER=ODBC Driver 17 for SQL Server
